/* 

nav{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: flex-end;
   
    text-transform: uppercase;
    font-weight: bolder;
    
   
}
ul{
    display: flex;
    gap: 2rem;
    
    
}

li:hover{
    color: #52ab98;
}
.next{
    background-color: #52ab98;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
}
.name{
    position: absolute;
    top: 30%;
    left: 35%;

}
.name h1{
    color: #52ab98;
    font-size: 8rem;
    font-weight: bolder;
    margin-bottom: -2rem !important;
}

.addHero{
    background-color: #52ab98;

} */


footer{
    background-color: #52ab98;
    display: flex;
    flex-direction: row;
    width: 100% !important;
}

.subscribe{
    background-color: #2b6777;
    
}
/* 
.nav{
    background-color: #52ab98;
    color: white;
    width: 100%;
    position: fixed;
    padding: 2rem;
    height: 10vh;
    
    
    
}

.nav ul{
    float:right;
}
.nav ul a:hover{
    color: white;
    background-color: #2b677746;
    width: 20vw;
    height: 10vw;
    border: 10px;
}

.heroes{
    color: #52ab98;
    margin-top: 5rem;
}

.hero_id{
    background-color: #52ab98;
}

.hero_name{
    color: #52ab98;


}

.hero_bio{

    color: #2b6777;
    width: 100%;
   


}

.more{
    background-color: #52ab98;
}
.edit{
    background-color: blue;

}
.delete{
    background-color: red;
}
.more-admin{
    background-color: green;
}
.bio-more{
    margin-left: 3.6rem;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    outline: thin solid red;
}

.card{
    border-bottom: 1px solid #2b6777;
} */


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }














  .section-hero{
     
      position: relative;
      top: 15rem;
      outline: thin solid red;
  }
  .image{
      outline: thin solid red;
      width: 20% !important;
      height: 10vh !important;
  }
  img{
      width: 100% !important;
      height: 100% !important;
  }
  table{
      max-width: 80% !important;
      outline: thin solid green;
  }